body {
  font-family: sans-serif;
  font-size: 14px;
}

#notify {
  height: 60px;
}

#notify div {
  font-weight: bold;
  color: white;
  padding: 3px 20px;
  text-align: center;
  margin: auto;
  width: 20em;
  background: #f37d1f;
  border: 1px solid #c05000;
  border-top: 0;
  -moz-border-radius: 0 0 4px 4px;
}

#app {
  margin: auto;
  width: 600px;
}

.tasklist {
  -moz-border-radius: 4px;
  border: 1px solid #aaa;
  background: #eee;
  padding: 6px;
  margin-top: 20px;
}

.tasklist h2 {
  font-weight: bold;
  margin: -6px;
  padding: 6px;
  margin-bottom: 18px;
  background: #e0e0e0;
  border-bottom: 1px solid #aaa;
}

.tasklist h3 {
  font-weight: bold;
  margin: 6px 0;
  margin-top: 18px;
}

.tasklist ul.tasks {
  background: white;
  padding: 1px 6px;
  -moz-border-radius: 4px;
}

.tasklist .new_tasks ul.tasks {
  margin-top: 6px;
  background: inherit;
}

.tasklist ul.tasks li.task {
  padding: 6px; 
  margin: 6px 0;
  background: #c0f0c0;
  -moz-border-radius: 4px;
}

.tasklist ul.tasks li.done .title,
.tasklist ul.tasks li.done .detail,
.tasklist ul.tasks li.done .category {
  text-decoration: line-through;
  color: gray;
  background: #e0e0e0;
  border-color: gray;
}

.tasklist ul.tasks li.done {
  background: #e0e0e0;
}

.tasklist ul.tasks li.task div.title {
  margin-bottom: 6px;
}

.tasklist ul.tasks li.task div.detail {
}

.tasklist ul.tasks li.task .controls a {
  color: #ff0000;
  text-decoration: none;
  font-size: 12px;
  padding: 0 3px;
}

.tasklist ul.tasks li.task .controls a:hover {
  background: #ff0000;
  color: white;
}

.tasklist ul.tasks li.task .controls {
  margin-top: 6px;
  text-align: right;
}

.tasklist ul.tasks li.task .edit textarea {
  width: 550px;
  height: 100px;
}

.tasklist ul.tasks li.task .edit div.error {
  color: red;
  font-weight: bold;
  background: #ffcccc;
  padding: 5px;
  margin-bottom: 5px;
  -moz-border-radius: 4px;
}

.tasklist ul.tasks li.task .edit input,
.tasklist ul.tasks li.task .edit textarea {
}

.tasklist ul.tasks li.task .edit input.error,
.tasklist ul.tasks li.task .edit textarea.error {
  background: #ffcccc;
}

.tasklist ul.tasks li.task .edit a {
  color: blue;
}

.tasklist li.task .category {
  background: #00ff55;
  border: 1px solid #00cc22;
  padding: 0px 3px;
  font-size: 12px;
  font-weight: bold;
  -moz-border-radius: 4px;
}

.header {
  width: 600px;
  margin: auto;
}

.footer {
  width: 600px;
  margin: auto;
  margin-top: 50px;
}

/* globals */

body {
  font-size: 14px;
  font-family: Arial,Helvetica,sans-serif;
  color: #333;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

hr {
  border: 0;
  background: #83a8cc;
  height: 1px;
}

a {
  color: #00c;
}

a:hover {
  color: #d45500;
}

.cleaner {
  clear: both;
}

/* content style: spacing */

.content h1, 
.content h2, 
.content h3, 
.content p, 
.content ul, 
.content ol, 
.content dl, 
.content blockquote, 
.content pre, 
.content table {
  margin-bottom: 15px;
}

.content {
  line-height: 20px;
}

.content h1 {
  margin-top: 0px;
}

.content h2, 
.content h3 {
  margin-top: 35px;
}

.content h1,
.content h2, 
.content h3 {
  line-height: 110%;
}

.content blockquote {
  padding-top: 15px;
  padding-left: 30px;
  padding-right: 15px;
  border: 1px solid #ddd;
  background: white url('topfade.png') top left repeat-x;
}

.content ul, 
.content ol {
}

.content ul ul, 
.content ul ol, 
.content ol ol, 
.content ol ul {
  margin-bottom: 0;
}

.content li {
  margin-left: 30px;
}

.content ul {
  list-style-type: square;
  list-style-position: outside;
}

.content ol {
  list-style-type: decimal;
}

.content ol ol {
  list-style-type: lower-latin;
}

/* content style: fonts/text align */

.content h1, 
.content h2, 
.content h3 {
  font-family: serif;
  text-align: left;
  color: black;
}

.content h1 {
  font-size: 24px;
}

.content h2 {
  font-size: 18px;
}

.content h3 {
  font-size: 14px;
  font-weight: bold;
  font-style: italic;
}

.content {
  text-align: justify;
}

.narrow {
  text-align: left;
}

img.left {
  float: left;
  padding: 5px;
  margin: 0 7px 2px 0;
}

img.right {
  float: right;
  padding: 5px;
  margin: 0 0 2px 7px;
}

/* content style: tables */

.content table {
  empty-cells: show;
  border-spacing: 0;
  border-collapse: collapse;
  display: block; /* collapse margins */
}

.content table td,
.content table th {
  vertical-align: top;
  padding: 1px 10px;
  border: 1px solid #ddd;
  text-align: left;
}

.content table th {
  background: white url('topfade.png') top left repeat-x;
  font-weight: bold;
}
